.btn {
    @include reset-button;

    cursor: pointer;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 0.05;
    font-weight: $font-bold;
    text-transform: uppercase;
    border-radius: 3px;
}

.btn-yellow {
    background: $color-yellow;
    color: #000;
    padding: 16px 20px;
}

.btn-purple {
    background: #fff;
    border: 1px solid $color-purple;
    color: $color-purple;
    padding: 10px 16px;
}